<li class="<%= cycle 'even', 'odd' %>" id="notary-places-<%= i %>">
  <% if member_location.member.membership_detail.in_practice == 'N' %>
    <%= image_tag "http://www.thenotariessociety.org.uk/includes/mapmarker.php?blue&no=#{i}", class: "map_pin" %>
  <% else %>
    <%= image_tag "http://www.thenotariessociety.org.uk/includes/mapmarker.php?no=#{i}", class: "map_pin" %>
  <% end %>

  <%= link_to member_path(notary: member_location.member.id, search: params[:search_term], radius: @radius), style: 'text-decoration:none', title: 'View notary' do %>
    <h3> <%= member_location.member.title %> <%= member_location.member.firstname %> <%= member_location.member.lastname %></h3>
  <% end %>

  <% if member_location.member.membership_detail.in_practice == 'N' %>
    <p> <em>No longer in practice</em> </p>
  <% end %>

  <%= render 'members/details', details: member_location.member.member_locations, individual: member_location.member, location_result: member_location %>
</li>
