<div class="row collapse module-list-index <%= cycle('odd', 'even') %>" data-equalizer="module-list" id="item_<%= member_presenter.id %>">

  <div class="large-6 small-6 columns" data-equalizer-watch="module-list">
    <%= member_presenter.title %>
  </div>

  <div class="large-6 small-6 columns" data-equalizer-watch="module-list">
    <%= member_presenter.updated_at %>
  </div>

  <div class="row module-list-detail hide" id="index-list-<%= member_presenter.id %>">
    <div class="small-12 columns module-list-summary last">

    </div>
  </div>
</div>
