<%= content_for :breadcrumbs do %>
  <section id="breadcrumb">
    <div class="content">
      <nav class="beadcrumb-nav">
        <ul>
          <li>
            <a href="http://www.thenotariessociety.org.uk/">Home</a>
          </li>
          <li><a href="/">Find A Notary</a></li>
          <li><a href="">Results</a></li>
        </ul>
      </nav>
    </div>
  </section>
<% end %>

<div id="map" style="width:100%; height:400px;"></div>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAzuU-3OnFyUhym2av5zTMVnnpEtMBlEuY&sensor=false"></script>
<script src="http://thenotariessociety.org.uk/js/cluster.js"></script>
<script type="text/javascript">
  var results = [];
  var latlngs = [];
  var infoWindows = [];
  var markers = [];

  <% if @search_results.present? %>
    <% @search_results.map(&:member_location).each do |member_location| %>
      results.push({
        "name":"<%= member_location.member.firstname %> <%= member_location.member.lastname %>",
        "email":"<% if member_location.email.present? %><%= member_location.email %><% else %><%= member_location.member.email%><% end %>",
        "address":"<%= j member_location.address %>",
        "website":"<%= member_location.website %>",
        "phone":"<%= member_location.contact_phone %>",
        "mobile":"<%= member_location.contact_mobile %>",
        "fax":"<%= member_location.fax %>",
        "is_member":"<%= member_location.member.membership_detail.is_member %>",
        "in_practice":"<%= member_location.member.membership_detail.in_practice %>",
        "id":<%= member_location.member.id %>,
        "lat":<%= member_location.latitude %>,
        "lng":<%= member_location.longitude %>,
        "location":<%= member_location.id %>
      });
    <% end %>
  <% end %>

  function initialize() {
    latlngs = [];
    infoWindows = [];
    markers = [];

    <% if @search_results.present? %>
      $('#notatries_places').show();
    <% end %>

    var mapOptions = {
      center: new google.maps.LatLng(53.4924471, -0.9721805),
      zoom: 8,
      disableDefaultUI: true,
      scrollwheel: false
    };

    var map = new google.maps.Map(document.getElementById("map"), mapOptions);

    for(var i = 0; i < results.length; i++){
      if(results[i].lat){
         var temp_latlng = new google.maps.LatLng(results[i].lat, results[i].lng);
         var marker = new google.maps.Marker({
           position: temp_latlng,
           title: results[i].name,
           html: results[i].html,
           id: results[i].id,
           location: results[i].location,
           //animation:google.maps.Animation.DROP,
           icon:(results[i].in_practice != 'Y') ? "http://thenotariessociety.org.uk/includes/mapmarker.php?blue&no="+(i+1) : "http://thenotariessociety.org.uk/includes/mapmarker.php?no="+(i+1),
           map: map
         });

         var infoWindow = new google.maps.InfoWindow({
           content: marker.html
         });

         latlngs.push(temp_latlng);
         infoWindows.push(infoWindow);
         markers.push(marker);

         google.maps.event.addListener(marker, 'click', function(){
           var indx = markers.indexOf(this);
           window.location.href = '/find-a-notary?notary='+markers[indx].id+'&location='+markers[indx].location;
         });
      }
    }

    var mc = new MarkerClusterer(map, markers);

    var bounds;

    if (markers.length !== 0) {
      bounds = new google.maps.LatLngBounds();
    }



    for(marker in markers) {
      bounds.extend(markers[marker].position);
    }

    map.fitBounds(bounds);

    if(markers.length <= 2) {
      var listener = google.maps.event.addListener(map, "idle", function() {
        map.setZoom(map.getZoom() - 2)
        google.maps.event.removeListener(listener);
      });
    }
  }

  $(function(){
    initialize();

    $('#map_people').click(function(){
      results = results_people;
      $('#map').html('');
      $('#map_people').addClass('current');
      $('#map_places').removeClass('current');
      $('#notatries_people').show();
      $('#notatries_places').hide();
      initialize();
    });

    $('#map_places').click(function(){
      results = results_places;
      $('#map_people').removeClass('current');
      $('#map_places').addClass('current');
      $('#map').html('');
      $('#notatries_people').hide();
      $('#notatries_places').show();
      initialize();
    });
  });
</script>

<div class="content columns">
  <div class="search-container">
    <div class="small columns">
      <%= form_tag '', method: :get, class: 'search-form town' do %>
        <h2>Find Notaries In</h2>
        <div class="field">
          <%= label_tag :town %><br/>
          <%#= select_tag :town, grouped_options_for_select(MemberLocation.grouped_county_and_town_for_select(cookies[:allowed]), selected: params[:town]), include_blank: "Not Set", id: "town-name-search", class: "town-select", style: "width: 100%;" %>
          <%= select_tag :town, options_for_select(MemberLocation.county_and_town_for_select(cookies[:allowed]), selected: params[:town]), include_blank: "Not Set", id: "town-name-search", class: "town-select", style: "width: 100%;" %>
        </div>

        <div class="actions">
          <%= submit_tag 'Search', class: 'search-button' %>
        </div>
        <div class="clear"></div>
      <% end %>
    </div>
    <div class="large columns">
      <%= form_tag '', method: :get, class: 'search-form town-geocoded' do %>
        <h2>Find Notaries Near</h2>
        <div class="field">
          <%= label_tag :postcode, "Location or <abbr title='Please enter at least the first part of a postcode'>postcode</abbr>".html_safe %><br/>
          <%= text_field_tag :postcode, params[:postcode], placeholder: 'Enter location or postcode', style: "width: 100%;" %>
        </div>

        <div class="field radius">
          <%= label_tag :radius, "Within" %><br/>
          <%= select_tag :radius, options_for_select([["2 miles", 2], ["5 miles", 5], ["10 miles", 10], ["20 miles", 20]], selected: (@search.radius if @search.present?)), prompt: 'Distance', required: true, style: "width: 100%;" %>
        </div>

        <div class="actions">
          <%= submit_tag 'Search', class: 'search-button' %>
        </div>
        <div class="clear"></div>
      <% end %>
    </div>
    <div class="small columns">
      <%= form_tag '', method: :get, class: 'search-form name' do %>
        <h2>Find Notaries By Name</h2>
        <div class="field">
          <%= label_tag :name %><br/>
          <%= text_field_tag :name, params[:name], placeholder: 'Enter a name' %>
        </div>

        <div class="actions">
          <%= submit_tag 'Search', class: 'search-button' %>
        </div>
        <div class="clear"></div>
      <% end %>
    </div>
  </div>


  <h2 style="display: inline-block"><%= @search.result_information if @search %></h2>

  <% unless (@search && (params[:radius].to_i == @search.radius)) || params[:radius].blank? %>
    <p><em>There are no notaries within the radius specified so the radius has been increased to show the closest.</em></p>
  <% end %>

  <ul id="map_switcher" style="text-align: left; margin-top: -3px; color: #666;">
    <p style="display: inline; line-height: 0px; text-align: left !important;">
      <img src="http://thenotariessociety.org.uk/images/map_pin_group.png" style="height: 40px; vertical-align: text-bottom; margin-top: 3px; float: left; margin-right: 10px;">
      Indicates notaries in close proximity to one another
    </p>
  </ul>

  <p>
    You will need to make an appointment to see the notary. They will charge a fee, but you can ask for an estimate when making your appointment.
    You will have to produce identification.
  </p>

  <p class="other-areas">
    To find notaries in other areas visit the following websites:
  </p>
  <ul class="other-areas">
    <li><%= link_to "Scotland", "http://www.lawscot.org.uk" %></li>
    <li><%= link_to "Northern Ireland", "http://www.lawsoc-ni.org" %></li>
    <li><%= link_to "Eire", "http://www.notarypublic.ie" %></li>
  </ul>


  <% if @search_results.present? %>
    <ul id="notatries_places">
      <% i = 1 %>
      <% @search_results.in_groups_of(2, false) do |group| %>
        <script>
          $(function() {
            rightHeight = $('#notary-places-<%= i %>').height();
            leftHeight = $('li#notary-places-<%= i %>').next().height();

            if(rightHeight > leftHeight)
            {
              $('#notary-places-<%= i %>').next().css('height', rightHeight);
            } else {
              $('#notary-places-<%= i %>').css('height', leftHeight);
            }
          });
        </script>

        <% group.each do |search_result| %>
          <%= render partial: 'member_locations/member_location', locals: { member_location: search_result.member_location, search_result: search_result, i: i } %>
          <% i = i + 1 %>
        <% end %>
      <% end %>
    </ul>
  <% end %>
  <div class="push"></div>
</div>
